@media screen and (min-width: 556px) and (max-width: 768px) {
  .cabinet-body {
    .lang {
      position: inherit;
    }
  }

  header {
    nav {
      width: 100%;
    }
    .lang {
      position: absolute;
      left: 98px;
      top: 26px;
    }
  }

  .image-top.section {
    .image {
      .title {
        div {
          font-size: 34px;
        }
      }
    }
  }

  .partnership.section {
    .description {
      padding: 61px 32px;
      font-size: 21px;
      font-weight: 700;
    }
  }

  .brands-items {
    .brands-item-center {
      display: block;

      img {
        max-width:100%;
      }
    }
    .col {
      display: block;
    }
  }

  .partnership.section {
    .bg-image {
      background-position: inherit;
    }
  }

  .about.section {
    .image-left {
      img {
        max-width: 100%;
      }
    }
  }

  .our-advantages.section {
    .item:nth-child(3n) {
      clear: left;
    }
    .item {
      .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .side-content {
    display: none;
  }


}