@media screen and (min-width: 1200px) {
  .site-body {
    header {
      position: fixed;
      z-index: 9;
    }
    main {
      padding-top: 94px;
    }
  }



  .about.section {
    .image-left{
      margin-left: -15px;
    }
  }

  .cabinet-body {
    header {
      .search-input {
        width: 512px;
      }
    }

  }

  .second-menu .navbar-collapse .navbar-nav .nav-item a {
    padding-right: 30px;
    position: relative;
  }

}