@media screen and (min-width: 1200px) {
  header {
    position: fixed;
    z-index: 9;
  }

  .image-top.section {
    padding-top: 94px;
  }

  .about.section {
    .image-left{
      margin-left: -15px;
    }
  }

}