<div class="cart-sidebar">
    <div class="wrpper_cartSideToggler mb-2 col-12 float-left  hidden-lg-up">
        <h2 class="catalog-title hidden-xs-down"><b>Личные данные</b></h2>
        <button id="showSide" class="float-right hidden-lg-up btn btn_blue btn_show_side">Показать личные данные</button>
    </div>
    <ul class="nav nav-tabs hidden-md-down" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#personalData">Личные данные</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" data-toggle="tab" href="#fastAdd">Быстрое добавление</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content side-content">
        <div class="tab-pane active" id="personalData" role="tabpanel">
            <form role="form">
                <div class="form-group">
                    <label for="cartContragentSelect">Контрагент</label>
                    <select class="form-control" id="cartContragentSelect">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cartTermSelect">Договор</label>
                    <select class="form-control" id="cartTermSelect">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cartShippingSelect">Адрес доставки</label>
                    <select class="form-control" id="cartShippingSelect">
                        <option>Киев</option>
                        <option>не Киев</option>
                        <option>Адрес</option>
                        <option>Не адрес</option>
                    </select>
                </div>
                <div class="form-group has-success">
                    <label for="cartInputPhone">Телефон</label>
                    <input type="tel" class="form-control" id="cartInputPhone"placeholder="Телефон">
                    <div class="form-control-feedback">Успешно.</div>
                    <small class="form-text text-muted">Проверка телефона прошла успешно</small>
                </div>
                <div class="form-group has-danger"> <!-- danger or success border is class .has-danger or .has-success-->
                    <label for="cartInputEmail">Email</label>
                    <input type="email" class="form-control" id="cartInputEmail"  placeholder="Email">
                    <div class="form-control-feedback">Такой имейл существует</div>
                    <small class="form-text text-muted">Введитие другую почту или восстановите доступ к существующему аккаунту</small>
                </div>
                <div class="form-group">
                    <label for="cartInputComment">Комментарий</label>
                    <textarea type="email" class="form-control" id="cartInputComment"  placeholder="Комментарий"></textarea>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="fastAdd" role="tabpanel">
            <p class="h6 p-2 mt-1 bg-faded">БЫСТРОЕ ДОБАВЛЕНИЕ ТОВАРА</p>
            <form role="form">
                <div class="col-sm-6 float-left p-0">
                    <div class="form-group has-danger">
                        <!--<label for="cartInputAddProductArticle">Введите артикул товара</label>-->
                        <input type="text" class="form-control" id="cartInputAddProductArticle" placeholder="артикул">
                        <div class="form-control-feedback">Артикул не найден</div>
                    </div>
                </div>
                <div class="col-sm-6 float-left pr-0">
                    <div class="form-group"> <!-- danger or success border is class .has-danger or .has-success-->
                        <!--<label for="cartInputAddProductQty">К-во</label>-->
                        <input type="text" class="form-control" id="cartInputAddProductQty" placeholder="К-во">
                    </div>
                </div>
                <div class="w-100 clearfix">
                    <button type="submit" class="btn btn-info" role="button">Добавить</button>
                </div>
            </form>
            <hr>
            <div class="video-info mt-2">
                <div class="title">Инструкция</div>
                <div class="description">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/LvKrEolOK48" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <hr>
            <p class="h6 p-2 bg-faded">МНОЖЕСТВЕННОЕ
                ДОБАВЛЕНИЕ ТОВАРОВ</p>
            <p class="">Загрузите *.scv файл, чтобы добавить одновременно несколько товаров.
                Скачайте файл для примера</p>
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputFile">Выберите файл</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
                  <button type="submit" class="btn btn-info" role="button">Добавить</button>
            </form>
            <hr>
            <div class="video-info mt-2">
                <div class="title">Инструкция</div>
                <div class="description">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/LvKrEolOK48" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>