<ul id="tree1" class="list-group">
    <li><a href="/">Канцтовары</a>

        <ul>
            <li><a href="#">Офисные принадлежности</a></li>
            <li><a href="#">Бумага и изделия из бумаги</a>
                <ul>
                    <li><a href="#">Ежедневники</a>
                        <ul>
                            <li><a href="#">Ежедневники датированные 2018</a></li>
                            <li><a href="#">Ежедневники недатированные</a></li>
                            <li><a href="#">Ежедневники полудатированные</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Блокноты</a></li>
                </ul>
            </li>
            <li><a href="#">Письменные принадлежности</a></li>
        </ul>
    </li>
    <li><a href="#">Школа, творчество, развитие</a>
        <ul>
            <li><a href="#">Школьные товары</a></li>
            <li><a href="#">Развивающие товары</a>
                <ul>
                    <li><a href="#">Наборы для детского творчества</a>
                        <ul>
                            <li><a href="#">Стикерсы</a></li>
                            <li><a href="#">Наборы для лепки</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Employee Maint.</a></li>
                </ul>
            </li>
            <li><a href="#">Товары для творчества</a></li>
        </ul>
    </li>
    <li><a href="#">Хозяйственные товары</a></li>
    <li><a href="#">Деловые подарки</a></li>
</ul>