<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Как сделать заказ?
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <p>
                    Равным образом постоянный количественный рост и сфера нашей активности
                    в значительной степени обуславливает создание существенных финансовых и</p>
                <iframe width="100%" height="" src="https://www.youtube.com/embed/bEZcwqdJwp4" frameborder="0" allowfullscreen></iframe>
                <p>административных условий. Равным образом консультация с широким активом
                    в значительной степени обуславливает создание системы обучения кадров,
                    соответствует насущным потребностям.
                </p>
                <p>
                    Задача организации, в особенности же дальнейшее развитие различных
                    форм деятельности требуют от нас анализа новых предложений.
                    Равным образом сложившаяся структура организации позволяет выполнять
                    важные задания по разработке направлений прогрессивного развития.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Как можно оплатить квитанции?
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
                <p>
                    Равным образом постоянный количественный рост и сфера нашей активности
                    в значительной степени обуславливает создание существенных финансовых и</p>
                <iframe width="100%" height="" src="https://www.youtube.com/embed/bEZcwqdJwp4" frameborder="0" allowfullscreen></iframe>
                <p>административных условий. Равным образом консультация с широким активом
                    в значительной степени обуславливает создание системы обучения кадров,
                    соответствует насущным потребностям.
                </p>
                <p>
                    Задача организации, в особенности же дальнейшее развитие различных
                    форм деятельности требуют от нас анализа новых предложений.
                    Равным образом сложившаяся структура организации позволяет выполнять
                    важные задания по разработке направлений прогрессивного развития.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Как работает доставка?
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
                <p>
                    Равным образом постоянный количественный рост и сфера нашей активности
                    в значительной степени обуславливает создание существенных финансовых и</p>
                <iframe width="100%" height="" src="https://www.youtube.com/embed/bEZcwqdJwp4" frameborder="0" allowfullscreen></iframe>
                <p>административных условий. Равным образом консультация с широким активом
                    в значительной степени обуславливает создание системы обучения кадров,
                    соответствует насущным потребностям.
                </p>
                <p>
                    Задача организации, в особенности же дальнейшее развитие различных
                    форм деятельности требуют от нас анализа новых предложений.
                    Равным образом сложившаяся структура организации позволяет выполнять
                    важные задания по разработке направлений прогрессивного развития.
                </p>            </div>
        </div>
    </div>
</div>