//= ../modules/table-info-helper.html

<div class="table-responsive">
    <table class="statuses-of-orders-table table table-sm">
        <thead class="">
        <tr>
            <th class="text-center">№ заказа</th>
            <th class="text-center" colspan="2">Адрес достаки</th>
            <th class="text-center">Статус</th>
            <th class="text-center">Сумма оплаты</th>
            <th class="text-center">Кол-во</th>
            <th class="text-center">Дата заказа</th>
            <th class="text-center">Просмотр</th>
            <th class="text-center">Скачать</th>
            <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">6202</td>
            <td class="" colspan="2">03148м. Київ, вул. Сім"ї Сосніних,11(вн.т4-80) Святош.р-н, оф807</td>
            <td class="text-center"><span class="badge badge-danger">Отменен</span></td>
            <td class="text-center">8706,00</td>
            <td class="text-center">23</td>
            <td class="text-center">21.09.2017</td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-download" aria-hidden="true"></i></a></td>
        </tr>
        <tr>
            <td class="text-center">6202</td>
            <td class="" colspan="2">03148м. Київ, вул. Сім"ї Сосніних,11(вн.т4-80) Святош.р-н, оф807</td>
            <td class="text-center"><span class="badge badge-info">Новый</span></td>
            <td class="text-center">8706,00</td>
            <td class="text-center">23</td>
            <td class="text-center">21.09.2017</td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-download" aria-hidden="true"></i></a></td>
        </tr>
        <tr>
            <td class="text-center">6202</td>
            <td class="" colspan="2">03148м. Київ, вул. Сім"ї Сосніних,11(вн.т4-80) Святош.р-н, оф807</td>
            <td class="text-center"><span class="badge badge-default">Удален</span></td>
            <td class="text-center">8706,00</td>
            <td class="text-center">23</td>
            <td class="text-center">21.09.2017</td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-download" aria-hidden="true"></i></a></td>
        </tr>
        <tr>
            <td class="text-center">6202</td>
            <td class="" colspan="2">03148м. Київ, вул. Сім"ї Сосніних,11(вн.т4-80) Святош.р-н, оф807</td>
            <td class="text-center"><span class="badge badge-success">Завершен</span></td>
            <td class="text-center">8706,00</td>
            <td class="text-center">23</td>
            <td class="text-center">21.09.2017</td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-download" aria-hidden="true"></i></a></td>
        </tr>
        <tr>
            <td class="text-center">6202</td>
            <td class="" colspan="2">03148м. Київ, вул. Сім"ї Сосніних,11(вн.т4-80) Святош.р-н, оф807</td>
            <td class="text-center"><span class="badge badge-success">Завершен</span></td>
            <td class="text-center">8706,00</td>
            <td class="text-center">23</td>
            <td class="text-center">21.09.2017</td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-download" aria-hidden="true"></i></a></td>
        </tr>
        <tr>
            <td class="text-center">6202</td>
            <td class="" colspan="2">03148м. Київ, вул. Сім"ї Сосніних,11(вн.т4-80) Святош.р-н, оф807</td>
            <td class="text-center"><span class="badge badge-success">Завершен</span></td>
            <td class="text-center">8706,00</td>
            <td class="text-center">23</td>
            <td class="text-center">21.09.2017</td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            <td class="text-center"><a href="#" class="btn btn-small btn-primary"><i class="fa fa-download" aria-hidden="true"></i></a></td>
        </tr>

        </tbody>
    </table>

</div>





