<div class="personal-content">

    <div class="col-sm-12 col-md-6 float-left jumbotron">
        <div class="title text-center"><h4>Личная информация</h4></div>
        <div class="description">
            <p>Приватне підприємство "Офіс-майстер"</p>
            <p>вул. Композитора Ніщинського, 22, кв. 12,
                м. Одеса, 265029</p>
            <p>тел. 0487037454,
                0487164249,
                0487309187</p>
            <p>Email для заказов: <span class="float-right"><a href="mailto:1@1.ua">1@1.ua</a></span></p>
            <hr>
            <p>
                На 27.10.2017<br>
                ваш просроченный долг: <strong class="float-right">2156.21 грн</strong><br>
                Суммарный долг: <strong class="float-right">244943.48 грн </strong>
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-md-5 float-right jumbotron manager-info">
        <div class="image"><img class="mw-100" src="../img/personal/large.jpg"></div>
        <div class="title mt-2 text-center"><h4>Ваш менеджер</h4></div>
        <div class="manager text-center">Абрамов Микита Володимирович</div>
        <div class="description mt-2">
            <p>тел.: <a href="tel:+38(067)3133035">+38(067)3133035</a><br>
                тел.: <a href="tel:+38(050)2195368">+38(050)2195368</a> <br>
                e-mail: <a href="mailto:abramov@papyrus.com.ua">abramov@papyrus.com.ua</a></p>
        </div>
    </div>
</div>