<header class="bg-faded w-100">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-toggleable-md mr-lg-auto navbar-light">
                <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png">
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link active" href="#aboutCompany">Про компанію <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ourAdvantages">Наші переваги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ourBrands">Наші бренди</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#partnership">Партнерство</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ourNews">Новини</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacts">Контакти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="http://papirus.ua/index.php/uk/papirus-gurt-main/katalog">Каталог</a>
                        </li>
                    </ul>


                </div>
            </nav>
            <div class="float-lg-right mt-xl-4">
                <div class="lang">
                    <button type="button" class="btn btn-primary login-button" role="button">Вход</button>
                    <button type="button" class="btn btn-outline-primary btn-sm lang-button active" role="button">UA</button>
                    <button type="button" class="btn btn-outline-primary btn-sm lang-button" role="button">RU</button>
                    <button type="button" class="btn btn-outline-primary btn-sm lang-button" role="button">EN</button>
                </div>
            </div>

        <div>
    </div>
</header>