<head>
    <!-- Latest compiled and minified CSS -->
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">

    <script src="libs/jquery/dist/jquery.min.js"></script>
    <!--<script src="libs/jquery/dist/jquery.slim.min.js"></script>-->
    <script src="libs/tether/dist/js/tether.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/slick-carousel/slick/slick.min.js"></script>


    <link rel="stylesheet" href="libs/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="libs/tether/dist/css/tether.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/main.js"></script>

</head>