<div class="dropdown test-page-nav">
    <button class="btn btn-info dropdown-toggle" role="button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-th-list" aria-hidden="true"></i> Навигация
        <div class="image"> <img src="../img/icons/salut.gif"></div>

    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/web-site/index.html">Главная</a>
        <a class="dropdown-item" href="/web-site/news.html">Все новости</a>
        <a class="dropdown-item" href="/web-site/article.html">Страница новости</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/web-manager/index.html">Менеджер</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/web-cabinet/index.html">Флеш Акция</a>
        <a class="dropdown-item" href="/web-cabinet/news.html">Новинки</a>
        <a class="dropdown-item" href="/web-cabinet/categories.html">Категории</a>
        <a class="dropdown-item" href="/web-cabinet/catalog.html">Каталог Таблица</a>
        <a class="dropdown-item" href="/web-cabinet/catalog-grid.html">Каталог плитка</a>
        <a class="dropdown-item" href="/web-cabinet/cart.html">Корзина</a>
        <a class="dropdown-item" href="/web-cabinet/personal.html">Личная информация</a>
        <a class="dropdown-item" href="/web-cabinet/statuses-of-orders.html">Статусы заказов</a>
        <a class="dropdown-item" href="/web-cabinet/finances.html">Финансы</a>
        <a class="dropdown-item" href="/web-cabinet/faq.html">Вопросы и ответы</a>
    </div>
</div>

<style>
    .dropdown.test-page-nav {
        position: fixed;
        top: 100px;
        left: -152px;
        -webkit-transition: left ease-out 0.3s;
        -moz-transition: left ease-out 0.3s;
        -ms-transition: left ease-out 0.3s;
        -o-transition: left ease-out 0.3s;
        transition: left ease-out 0.3s;
        z-index: 99999999;
    }
    .dropdown.test-page-nav:hover {
        left: 0px;
    }
    .test-page-nav .image {
        position: absolute;
        right: -50px;
        top: -5px;
        opacity: 0.75;
    }
    .dropdown.test-page-nav:hover .image img {
        opacity: 0;
        -webkit-transition: opacity ease-out 0.3s;
        -moz-transition: opacity ease-out 0.3s;
        -ms-transition: opacity ease-out 0.3s;
        -o-transition: opacity ease-out 0.3s;
        transition: opacity ease-out 0.3s;
    }
    .test-page-nav img {
        width: 50px;
    }
    .test-page-nav .dropdown-menu {
        margin-top: -1px;
    }
</style>