
<div class="modal fade " id="buyerInfoModal" tabindex="-1" role="dialog" aria-labelledby="buyerInfoModallLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm product-modal" role="document">
        <div class="modal-content status-view-modal">

            <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">

                <div class="table-responsive ">
                    <table class="table table-sm table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>Контактное лицо</td>
                            <td>Кур'єр-плюс</td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td>0681568452</td>
                        </tr>
                        <tr>
                            <td>Адрес доставки</td>
                            <td>Киевская ул. 125</td>
                        </tr>
                        <tr>
                            <td>Дата регистрации</td>
                            <td>2017-02-13 16:17:38</td>
                        </tr>
                        <tr>
                            <td>Последний визит	</td>
                            <td>2017-11-24 12:59:19</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>