
<div class="modal fade " id="chooseManagerModal" tabindex="-1" role="dialog" aria-labelledby="chooseManagerModallLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm product-modal" role="document">
        <div class="modal-content status-view-modal">

            <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">

                <div class="styled-radio">

                    <div class="btn-group btn-group-vertical" data-toggle="buttons">
                        <label class="btn active"  data-dismiss="modal">
                            <input type="radio"  name='status1' checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Владимир</span>
                        </label>

                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Маслюк Артём</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Мельник Іван Вікторович</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Кривецький Олександр</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Абрамов Микита Володимирович</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Ніжнік Олександр Анатолійович</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Бутенко Андрій Юрійович</span>
                        </label>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>