
<div class="modal fade " id="statusViewModal" tabindex="-1" role="dialog" aria-labelledby="statusViewModallLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg product-modal" role="document">
        <div class="modal-content status-view-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="statusViewModalLongTitle">03148м. Київ, вул. Сім"ї Сосніних,11(вн.т4-80) Святош.р-н, оф807</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th>Дата</th>
                                <th>Заказчик</th>
                                <th>Телефон</th>
                                <th>Email</th>
                                <th>Адрес доставки</th>
                                <th>Договор</th>
                                <th>сумма заказа</th>
                                <th>Комментарий</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2017-09-21 14:22:57</td>
                                <td>Порожнє значення</td>
                                <td>38 (380) 934-62-78</td>
                                <td>test@test.com</td>
                                <td>г.Одесса, склад на ул. Дальницкой</td>
                                <td>передплата_1(F00021018)</td>
                                <td>2842,00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">Наименование</th>
                                <th>Артикул</th>
                                <th>Кл-во</th>
                                <th>Цена</th>
                                <th>Всего</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">Этикетки самоклеящиеся, белые, А4, 100 лист/пач, на листе 55шт.</td>
                                <td>C70001k</td>
                                <td>123</td>
                                <td>40,88</td>
                                <td>5027,63</td>
                            </tr>
                            <tr>
                                <td colspan="2">Этикетки самоклеящиеся, белые, А4, 100 лист/пач, на листе 55шт. ( C70014 )</td>
                                <td>C70014</td>
                                <td>90</td>
                                <td>40,88</td>
                                <td>3678,75</td>
                            </tr>
                            <tr>
                                <td colspan="2">Этикетки самоклеящиеся, белые, А4, 100 лист/пач, на листе 55шт. ( C70014 )</td>
                                <td>C70014</td>
                                <td>90</td>
                                <td>40,88</td>
                                <td>3678,75</td>
                            </tr>
                            <tr>
                                <td colspan="2">Этикетки самоклеящиеся, белые, А4, 100 лист/пач, на листе 55шт. ( C70014 )</td>
                                <td>C70014</td>
                                <td>90</td>
                                <td>40,88</td>
                                <td>3678,75</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>