
<div class="modal fade " id="statusSelectViewModal" tabindex="-1" role="dialog" aria-labelledby="statusSelectViewModallLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm product-modal" role="document">
        <div class="modal-content status-view-modal">
            <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">

                <div class="styled-radio">
                    <div class="btn-group btn-group-vertical" data-toggle="buttons">
                        <label class="btn active"  data-dismiss="modal">
                            <input type="radio"  name='status1' checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>новый</span>
                        </label>

                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>принят</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>отменен</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>доставка</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>электронный</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>сборка</span>
                        </label>
                        <label class="btn" data-dismiss="modal">
                            <input type="radio" name='status1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>оплачен</span>
                        </label>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>