body.site-body header {
  font-size: 16px;
}
body {
  font-family: 'Play', sans-serif;
  font-size: 14px;
}

.tooltip-inner {
  background-color: #fff;
  max-width: inherit;
  border: 1px solid #cecece;
}

.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before, .tooltip.tooltip-top .tooltip-inner::before{
  border-top-color: #ababab;
}

.tooltip.bs-tether-element-attached-left .tooltip-inner::before, .tooltip.tooltip-right .tooltip-inner::before {
  border-right-color: #ababab;
}

.second-menu {
  .navbar-collapse {
    font-size: 15px;
    .navbar-nav {
      .nav-item {
        a {
          //position: relative;
        }
        .badge {
          position: relative;
          top: -7px;
        }
      }
    }
  }
  .mobile-menu-button {
    position: absolute;
    top: -73px;
    right: 89px;
  }

}

.wrpper_cartSideToggler{
  //margin-top: 30px;
  .btn_show_side{
    position: absolute;
    right: 15px;
    top: 0px;
  }
}

.table-swipe-helper {
  .image {
    float: left;
    position: relative;

    img {
      width: 50px;
    }
  }
}
