<!--TODO please remember that you should remove test page navigator from production project-->
//= ../page-navigator.html
<header class="bg-faded w-100">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-toggleable-md mr-md-auto navbar-light">

                <a class="navbar-brand" href="#">
                    <img src="../img/logo.png">
                </a>

            </nav>
            <div class="float-md-right mt-md-4">
                <div class="lang">
                    <a href="#" class="btn btn-outline-primary">Мои заказы</a>
                    <a href="#" class="btn btn-outline-primary">Admin</a>
                    <a href="#" class="btn btn-primary">Вихід</a>
                    <button type="button" class="btn btn-link btn-sm lang-button active" role="button">UA</button>
                    <button type="button" class="btn btn-link btn-sm lang-button" role="button">RU</button>
                    <button type="button" class="btn btn-link btn-sm lang-button" role="button">EN</button>
                </div>
            </div>
        </div>
    </div>
</header>

