<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead  class="thead-default">
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Заказчик</th>
                <th>Менеджер</th>
                <th>Товаров</th>
                <th>Сумма</th>
                <th>Скидка</th>
                <th>Статус</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#" data-toggle="modal" data-target="#statusViewModal">7444</a></td>
                <td>2017-11-22 16:39:13</td>
                <td><a href="#" data-toggle="modal" data-target="#buyerInfoModal">Людвіковський О.К.</a></td>
                <td><a href="#" data-toggle="modal" data-target="#chooseManagerModal">Мельник Іван Вікторович</a></td>
                <td>13</td>
                <td>2 255.00</td>
                <td>0.00</td>
                <td><a href="#" data-toggle="modal" data-target="#statusSelectViewModal"><span class="badge badge-danger">Удален</span></a></td>
                <td><a href="#" data-toggle="modal" data-target="#statusViewModal"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
                <td><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a> </td>
                <td><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td><a href="#" data-toggle="modal" data-target="#statusViewModal">7444</a></td>
                <td>2017-11-22 16:39:13</td>
                <td><a href="#" data-toggle="modal" data-target="#buyerInfoModal">Людвіковський О.К.</a></td>
                <td><a href="#" data-toggle="modal" data-target="#chooseManagerModal">Мельник Іван Вікторович</a></td>
                <td>13</td>
                <td>2 255.00</td>
                <td>0.00</td>
                <td><a href="#" data-toggle="modal" data-target="#statusSelectViewModal"><span class="badge badge-info">Новый</span></a></td>
                <td><a href="#" data-toggle="modal" data-target="#statusViewModal"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
                <td><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a> </td>
                <td><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td><a href="#" data-toggle="modal" data-target="#statusViewModal">7444</a></td>
                <td>2017-11-22 16:39:13</td>
                <td><a href="#" data-toggle="modal" data-target="#buyerInfoModal">Людвіковський О.К.</a></td>
                <td><a href="#" data-toggle="modal" data-target="#chooseManagerModal">Мельник Іван Вікторович</a></td>
                <td>13</td>
                <td>2 255.00</td>
                <td>0.00</td>
                <td><a href="#" data-toggle="modal" data-target="#statusSelectViewModal"><span class="badge badge-warning">Отменен</span></a> </td>
                <td><a href="#" data-toggle="modal" data-target="#statusViewModal"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
                <td><a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a></td>
                <td><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
