<div class="navigation w-100">

    <div class="filter">
        <div class="title">Статус заказа:</div>
        <div class="links clearfix">
            <ul class="list-unstyled">
                <li class="float-left mr-1"><a class="" href="#">Все</a></li>
                <li class="float-left mr-1"><a class="" href="#">новый</a></li>
                <li class="float-left mr-1"><a class="" href="#">отменен</a></li>
                <li class="float-left mr-1"><a class="" href="#">принят</a></li>
                <li class="float-left mr-1"><a class="" href="#">доставка</a></li>
                <li class="float-left mr-1"><a class="" href="#">электронный</a></li>
                <li class="float-left mr-1"><a class="" href="#">сборка</a></li>
                <li class="float-left mr-1"><a class="" href="#">оплачен</a></li>
            </ul>
        </div>
    </div>


    <hr class="">
    <form class="mt-2">
        <div class="form-group form-inline float-left">
            <label class="mr-2" for="manageFilterInputEmail1">Заказчик</label>
            <input type="email" class="form-control mr-2" id="manageFilterInputEmail1" aria-describedby="emailHelp" placeholder="Имя заказчика">
        </div>
        <div class="form-group form-inline float-left">
            <label for="manageFilterdateFrom" class="mr-2 col-form-label">Дата от</label>
            <div class="">
                <input class="form-control mr-2" type="date" value="2011-08-19" id="manageFilterdateFrom">
            </div>
        </div>
        <div class="form-group form-inline float-left">
            <label for="manageFilterdateTo" class="mr-2 col-form-label">до</label>
            <div class="">
                <input class="form-control mr-2" type="date" value="2011-08-19" id="manageFilterdateTo">
            </div>
        </div>
        <div class="btn-group form-inline">
            <button type="submit" role="button" class="btn btn-primary">Поиск</button>
        </div>

        <div class="btn-group form-inline float-right">
            <button type="submit" role="button" class="btn btn-sm btn-danger">Сбросить фильтры</button>
        </div>
    </form>

</div>