<div class="pagination-module">
    <div class="row">

    <nav class="m-auto" aria-label="...">
        <ul class="pagination pagination-sm">
            <li class="page-item disabled">
                <span class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            </li>
            <li class="page-item active">
                <span class="page-link">
                1
                <span class="sr-only">(current)</span>
              </span></li>
            <li class="page-item ">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><span class="page-link" href="#">...</span></li>
            <li class="page-item"><a class="page-link" href="#">123</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </li>
        </ul>
    </nav>

    </div>
</div>
