

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="partnershipModalLabel">Вхід в кабінет</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6 float-left">
                            <div class="form-group">
                                <label for="emailLoginInput">E-mail</label>
                                <input type="email" class="form-control" id="emailLoginInput" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phoneLoginInput">Пароль</label>
                                <input type="password" class="form-control" id="phoneLoginInput" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary" role="button">Вхід</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

