.product-list-table {
  font-size: 13px;
  line-height: 13px;

  thead {
    th {
      vertical-align: inherit;
    }
  }


  th {
    vertical-align: inherit;
  }

  td {
    vertical-align: inherit;

    img.image {
      max-width: 50px;
    }
    input.qty {
      width: 49px;
      font-size: 13px;
      padding: 8px 5px;
    }
    button {
      font-size: 24px;
    }

  }

}

.grid-products {
  .item {
    .add-to-cart, .btn {
      font-size: 32px;
      padding: 2px 2px;
    }
    input.qty {
      width: 49px;
      font-size: 13px;
      padding: 8px 5px;
      margin-top: 6px;
    }

  }
}