<div class="top-serch-block--result hidden-xs-down">
    <div class="serch-row clearfix">
        <div class="col-sm-2 float-left">
            <div class="top-serch-block--result-img">
                <img class="mw-100 m-auto" src="../img/products/198779.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-5 float-left name-wrp">
            <a href="#">Lorem ipsum dolor sit.</a>
        </div>
        <div class="col-sm-2 float-left price-wrp">
            <span class="price">2.83 грн</span>
        </div>
        <div class="col-sm-3 float-left add-wrp">
            <a href="#" class="add uppercase">в корзину</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="serch-row clearfix">
        <div class="col-sm-2 float-left">
            <div class="top-serch-block--result-img">
                <img class="mw-100 m-auto" src="../img/products/198779.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-5 float-left name-wrp">
            <a href="#">Lorem ipsum dolor sit.</a>
        </div>
        <div class="col-sm-2 float-left price-wrp">
            <span class="price">2.83 грн</span>
        </div>
        <div class="col-sm-3 float-left add-wrp">
            <a href="#" class="add uppercase">в корзину</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="serch-row clearfix">
        <div class="col-sm-2 float-left">
            <div class="top-serch-block--result-img">
                <img class="mw-100 m-auto" src="../img/products/198779.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-5 float-left name-wrp">
            <a href="#">Lorem ipsum dolor sit.</a>
        </div>
        <div class="col-sm-2 float-left price-wrp">
            <span class="price">2.83 грн</span>
        </div>
        <div class="col-sm-3 float-left add-wrp">
            <a href="#" class="add uppercase">в корзину</a>
        </div>
        <div class="clearfix"></div>
    </div>


    <p class="all-result"><a href="#">Все результаты поиска (20)</a></p>

</div>