<div id="hit-menu" class="hidden-lg-up"></div>
<div class="menu-mobile-background "></div>
<div id="header" class="hidden-lg-up">
    <div class="header-inner">
        <div class="header-topo">
            <button class="btn button-menu-mobile btn-primary mt-3 ml-3" role="button">
                Каталог
                <div class="box-stripes">
                    <span class="stripe-top"></span>
                    <span class="stripe-middle"></span>
                    <span class="stripe-bottom"></span>
                </div>
            </button>
            <!--<span class="header-nomeEmpresa header-nomeEmpresa_mobile col-xs-show col-sm-show">Каталог</span>-->
            <a href="#" class="brand-icon "> <img src="../img/logo.png"></a>
            <a href="#" class="cart-mobile"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div id="menu" class="hidden-lg-up">
    <div class="menu-header">
        <span class="shape-remove-shadow_green"></span>
        <span class="shape-remove-shadow_white"></span>
        <div class="header-topo">
            <div class="header-controlMenu">
                <span class="header-nomeEmpresa">Каталог</span>
                <button class="header-controlMenuButton btn-primary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </button>
                <div class="clear"></div>
            </div>
        </div>

    </div>
    <div class="menu-box">
        <div class="menu-wrapper-inner">
            <div class="menu-wrapper">
                <div class="menu-slider">
                    <div class="menu">
                        <ul class="list-unstyled">
                            <li>
                                <div class="menu-item"><a href="#" class="menu-anchor" data-menu="1">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Канцтовары</a>
                                </div>
                            </li>
                            <li>
                                <div class="menu-item">
                                    <a href="#" class="menu-anchor" data-menu="2">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Школа, творчество, развитие</a>
                                </div>
                            </li>
                            <li>
                                <div class="menu-item">
                                    <a href="#" class="">Хозяйственные товары</a></div>
                            </li>
                            <li>
                                <div class="menu-item">
                                    <a href="#" class="menu-anchor"> Деловые подарки</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="submenu menu" data-menu="1">
                        <div class="submenu-back">
                            <div class="menu-item">
                                <a href="#" class="menu-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Назад</a></div>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="menu-item"><a href="#">Офисные принадлежности</a></div>
                            </li>
                            <li>
                                <div class="menu-item">
                                    <a href="#" class="menu-anchor" data-menu="5">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Бумага и изделия из бумаги</a>
                                </div>
                            </li>

                            <li>
                                <div class="menu-item"><a href="#">Письменные принадлежности</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="submenu menu" data-menu="2">
                        <div class="submenu-back">
                            <div class="menu-item">
                                <a href="#" class="menu-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Назад</a></div>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="menu-item"><a href="#">Subitem</a></div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Subitem</a></div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Subitem</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="submenu menu" data-menu="3">
                        <div class="submenu-back">
                            <div class="menu-item">

                                <a href="#" class="menu-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Назад</a></div>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="menu-item"><a href="#" >Subitem</a></div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Subitem</a></div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Subitem</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="submenu menu" data-menu="4">
                        <div class="submenu-back">
                            <div class="menu-item">

                                <a href="#" class="menu-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Назад</a></div>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="menu-item"><a href="#">Subitem</a></div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Subitem</a></div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Subitem</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="submenu menu" data-menu="5">
                        <div class="submenu-back">
                            <div class="menu-item">
                                <a href="#" class="menu-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Назад</a></div>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="menu-item">
                                <a href="#" class="menu-anchor" data-menu="6">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Ежедневники</a>
                                </div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Блокноты</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="submenu menu" data-menu="6">
                        <div class="submenu-back">
                            <div class="menu-item">
                                <a href="#" class="menu-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Назад</a></div>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="menu-item"><a href="#" class="menu-anchor">Ежедневники датированные 2018</a></div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Ежедневники недатированные</a></div>
                            </li>
                            <li>
                                <div class="menu-item"><a href="#">Ежедневники полудатированные</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>