<table class="product-list-table table table-sm">
    <thead class="">
        <tr>
            <th></th>
            <th class="text-center">Артикул</th>
            <th class="text-center" colspan="2">Название</th>
            <th class="text-center">Остаток</th>
            <th class="text-center">Цена</th>
            <th class="text-center">Кратность<br>
                упаковки</th>
            <th class="text-center">Кол-во</th>
            <th class="text-center">Избранное</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/93208.jpg'>" class="image" src="../img/products/93208.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/197493.jpg'>" class="image" src="../img/products/197493.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/198779.jpg'>" class="image" src="../img/products/198779.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/197493.jpg'>" class="image" src="../img/products/197493.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/198779.jpg'>" class="image" src="../img/products/198779.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/197493.jpg'>" class="image" src="../img/products/197493.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
    </tbody>
</table>


//= pagination.html
