<table class="product-list-table hidden-xs-down table table-sm">
    <thead class="">
        <tr>
            <th class="hidden-sm-down"></th>
            <th class="text-center">Артикул</th>
            <th class="text-center" colspan="2">Название</th>
            <th class="text-center">Остаток</th>
            <th class="text-center">Цена</th>
            <th class="text-center">Кратность<br>
                упаковки</th>
            <th class="text-center">Кол-во</th>
            <th class="text-center">Избранное</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="hidden-sm-down"><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/93208.jpg'>" class="image" src="../img/products/93208.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td class="hidden-sm-down"><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/197493.jpg'>" class="image" src="../img/products/197493.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td class="hidden-sm-down"><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/198779.jpg'>" class="image" src="../img/products/198779.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td class="hidden-sm-down"><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/197493.jpg'>" class="image" src="../img/products/197493.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td class="hidden-sm-down"><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/198779.jpg'>" class="image" src="../img/products/198779.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
        <tr>
            <td class="hidden-sm-down"><img data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='../img/products/197493.jpg'>" class="image" src="../img/products/197493.jpg"></td>
            <th class="text-center" scope="row">1110160</th>
            <td colspan="2">Фломастеры Centropen TEXTILE 2739, 6 шт.</td>
            <td class="text-center">3704</td>
            <td class="text-center">@125.69</td>
            <td class="text-center">1/50/200</td>
            <td class="text-center"><input class="qty form-control text-center" type="text" value="23"></td>
            <td class="text-center"><input class="wishlist checkbox" type="checkbox" value="23"></td>
            <td><button class="btn btn-primary btn-small" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button> </td>
        </tr>
    </tbody>
</table>
<div class="grid-products hidden-sm-up">
    <div class="col-12 item bg-faded pt-2 pb-2 mb-3 float-left">
        <div class="title">Фломастеры Centropen TEXTILE 2739, 6 шт.</div>
        <div class="article">Артикул: 3256</div>
        <div class="image text-center"><img class="m-auto img-thumbnail" src="../img/products/198779.jpg"></div>
        <div class="col-xs-2 float-left text-center"><div class="price">125.69 грн.</div> </div>
        <div class="col-xs-2 float-left text-center"><div class="balance">Осталось 57шт</div> </div>
        <div class="col-12 pt-2 float-left">
            <div class="col-xs-3 float-left text-center">
                <a href="#" class="btn btn-sm btn-primary add-to-wishlist"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-3 float-left text-center">
                <input class="qty form-control text-center" type="text" value="23">
            </div>
            <div class="col-xs-3 float-left text-center">
                <button class="add-to-cart btn btn-sm btn-primary"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="col-12 item bg-faded pt-2 pb-2 mb-3 float-left">
        <div class="title">Фломастеры Centropen TEXTILE 2739, 6 шт.</div>
        <div class="article">Артикул: 3256</div>
        <div class="image text-center"><img class="m-auto img-thumbnail" src="../img/products/197493.jpg"></div>
        <div class="col-xs-2 float-left text-center"><div class="price">125.69 грн.</div> </div>
        <div class="col-xs-2 float-left text-center"><div class="balance">Осталось 57шт</div> </div>
        <div class="col-12 pt-2 float-left">
            <div class="col-xs-3 float-left text-center">
                <a href="#" class="btn btn-sm btn-primary add-to-wishlist"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-3 float-left text-center">
                <input class="qty form-control text-center" type="text" value="23">
            </div>
            <div class="col-xs-3 float-left text-center">
                <button class="add-to-cart btn btn-sm btn-primary"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="col-12 item bg-faded pt-2 pb-2 mb-3 float-left">
        <div class="title">Фломастеры Centropen TEXTILE 2739, 6 шт.</div>
        <div class="article">Артикул: 3256</div>
        <div class="image text-center"><img class="m-auto img-thumbnail" src="../img/products/93208.jpg"></div>
        <div class="col-xs-2 float-left text-center"><div class="price">125.69 грн.</div> </div>
        <div class="col-xs-2 float-left text-center"><div class="balance">Осталось 57шт</div> </div>
        <div class="col-12 pt-2 float-left">
            <div class="col-xs-3 float-left text-center">
                <a href="#" class="btn btn-sm btn-primary add-to-wishlist"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-3 float-left text-center">
                <input class="qty form-control text-center" type="text" value="23">
            </div>
            <div class="col-xs-3 float-left text-center">
                <button class="add-to-cart btn btn-sm btn-primary"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="col-12 item bg-faded pt-2 pb-2 mb-3 float-left">
        <div class="title">Фломастеры Centropen TEXTILE 2739, 6 шт.</div>
        <div class="article">Артикул: 3256</div>
        <div class="image text-center"><img class="m-auto img-thumbnail" src="../img/products/197493.jpg"></div>
        <div class="col-xs-2 float-left text-center"><div class="price">125.69 грн.</div> </div>
        <div class="col-xs-2 float-left text-center"><div class="balance">Осталось 57шт</div> </div>
        <div class="col-12 pt-2 float-left">
            <div class="col-xs-3 float-left text-center">
                <a href="#" class="btn btn-sm btn-primary add-to-wishlist"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-3 float-left text-center">
                <input class="qty form-control text-center" type="text" value="23">
            </div>
            <div class="col-xs-3 float-left text-center">
                <button class="add-to-cart btn btn-sm btn-primary"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>


<!--mobile catalog-->

//= pagination.html
