<div class="catalog">
    <!--<div class="catalog active">-->
    <button class="catalog-btn" role="button"><i>Каталог</i> <span></span></button>
    <ul class="menu">
        <li class="list-unstyled level1">
            <a class="menu__link" href="#">Бумага и изделия из бумаги</a>
            <ul class="level2">
                <li class="menu__item">
                    <a class="menu__link" href="#">Бумага и изделия из бумаги</a>
                    <ul class="sub_menu">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="sub_menu__title" href="#">Бумага офисная</a>
                                <a class="sub_menu__title" href="#">Конверты</a>
                                <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                                    <ul class="menu menu_flat">
                                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                                    </ul>
                            </div>
                            <div class="col-md-4">
                                <a class="sub_menu__title" href="#">Бумага офисная</a>
                                <a class="sub_menu__title" href="#">Конверты</a>
                                <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                                    <ul class="menu menu_flat">
                                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                                    </ul>
                            </div>
                            <div class="col-md-4">
                                <a class="sub_menu__title" href="#">Бумага офисная</a>
                                <a class="sub_menu__title" href="#">Конверты</a>
                                <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                                    <ul class="menu menu_flat">
                                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                                    </ul>
                            </div>
                        </div>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Письменные принадлежности</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="list-unstyled level1">
            <a class="menu__link" href="#">Письменные принадлежности</a>
            <ul class="level2">
                <li class="menu__item">
                    <a class="menu__link" href="#">Офисные принадлежности</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Принадлежности для делопроизводства</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="list-unstyled level1">
            <a class="menu__link" href="#">Бумага и изделия из бумаги</a>
            <ul class="level2">
                <li class="menu__item">
                    <a class="menu__link" href="#">Упаковочные материалы</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Презентационное оборудование</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="list-unstyled level1">
            <a class="menu__link" href="#">Бумага и изделия из бумаги</a>
            <ul class="level2">
                <li class="menu__item">
                    <a class="menu__link" href="#">Офисная техника</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Компьютерная техника</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="#">Бытовая техника</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Хозяйственные товары</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="list-unstyled level1">
            <a class="menu__link" href="#">Бумага и изделия из бумаги</a>
            <ul class="level2">
                <li class="menu__item">
                    <a class="menu__link" href="#">Продовольственные товары</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Мебель для офиса</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Деловые подарки</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Бумага и изделия из бумаги</a>
                    <ul class="sub_menu">
                        <a class="sub_menu__title" href="#">Бумага офисная</a>
                        <a class="sub_menu__title" href="#">Конверты</a>
                        <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                            <ul class="menu menu_flat">
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                                <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>


        <li class="menu__item">
            <a class="menu__link" href="#">Бумага и изделия из бумаги</a>
            <ul class="sub_menu">
                <a class="sub_menu__title" href="#">Бумага офисная</a>
                <a class="sub_menu__title" href="#">Конверты</a>
                <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                    <ul class="menu menu_flat">
                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">Бумага и изделия из бумаги</a>
            <ul class="sub_menu">
                <a class="sub_menu__title" href="#">Бумага офисная</a>
                <a class="sub_menu__title" href="#">Конверты</a>
                <li class="menu__item"><a class="sub_menu__link" href="#">Бухгалтерская документация</a>
                    <ul class="menu menu_flat">
                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские бланки</a></li>
                        <li class="menu__item"><a class="menu__link menu__link_flat" href="#">Бухгалтерские книги</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- end .catalog -->